/* Defaults */
scale marks {
  color: currentColor;
}
radio {
  margin-left: -2px;
}
/* Adwaita is missing osd ListBox */
.osd list {
  background: none;
}
.osd list row {
  -gtk-icon-shadow: none;
}
.gtk402 trough highlight {
  border-color: transparent;
}
.gtk402 .osd trough highlight {
  border-color: inherit;
}
.osdheaderbar {
  background: transparent;
}
.osdheaderbar button {
  border: transparent;
}
.linkseparator {
  background: rgba(24,24,24,0.72);
  min-width: 1px;
}
.linkedleft image {
  margin-left: 2px;
}
.linkedright image {
  margin-right: 2px;
}
/* Non-osd style for popover menu */
.menupopover label {
  color: @theme_text_color;
}
.menupopover arrow {
  background: @theme_base_color;
  border-color: @insensitive_base_color;
}
.menupopover contents {
  background: @theme_base_color;
  border-color: @insensitive_base_color;
}
.adwrounded.csd {
  border-radius: 8px;
}
.adwrounded.fullscreen,
.adwrounded.maximized,
.adwrounded.tiled,
.adwrounded.tiled-top,
.adwrounded.tiled-left,
.adwrounded.tiled-right,
.adwrounded.tiled-bottom {
  border-radius: 0px;
}
.roundedcorners {
  border-radius: 8px;
}

.videowidget {
  min-width: 320px;
  min-height: 180px;
}

.tvmode popover box {
  text-shadow: none;
  font-size: 21px;
  font-weight: 500;
}
.tvmode button {
  min-width: 32px;
  min-height: 32px;
  -gtk-icon-shadow: none;
}
.tvmode radio {
  margin-left: 0px;
  margin-right: 4px;
  border: 2px solid;
  min-width: 17px;
  min-height: 17px;
}

.tvmode .playercontrols {
  -gtk-icon-size: 24px;
}
.playbackicon {
  -gtk-icon-size: 20px;
}
.tvmode .playbackicon {
  -gtk-icon-size: 28px;
}
.labelbutton {
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 1px;
  min-width: 8px;
  font-family: 'Cantarell', sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}
.tvmode .labelbutton {
  margin-top: 0px;
  font-size: 23px;
  text-shadow: none;
}

/* Top Revealer */
.tvmode .revealertopgrid {
  font-family: 'Cantarell', sans-serif;
}
.tvmode .tvtitle {
  font-size: 28px;
  font-weight: 500;
  text-shadow: none;
}
.tvtime {
  margin-top: -2px;
  margin-bottom: -2px;
  min-height: 4px;
  font-size: 38px;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}
.tvendtime {
  margin-top: -4px;
  margin-bottom: 2px;
  min-height: 6px;
  font-size: 24px;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

/* Button Inside Popover */
.popoverbutton {
  min-width: 24px;
  min-height: 24px;
}

/* Position Scale */
.positionscale {
  margin-top: -2px;
  margin-bottom: -2px;
}
.tvmode .positionscale {
  margin-top: -1px;
}
.positionscale trough highlight {
  min-height: 4px;
}
.osd .positionscale trough highlight {
  min-height: 6px;
}
.tvmode .positionscale trough slider {
  color: transparent;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
.positionscale mark indicator {
  min-height: 6px;
}
.positionscale.fine-tune mark indicator {
  min-height: 6px;
}
.tvmode .positionscale mark indicator {
  min-height: 7px;
  min-width: 2px;
}
.tvmode .positionscale.fine-tune mark indicator {
  min-height: 7px;
  min-width: 2px;
}
.positionscale marks.top {
  margin-top: -6px;
  margin-bottom: 4px;
}
.positionscale marks.bottom {
  margin-top: 4px;
  margin-bottom: -6px;
}
.tvmode .positionscale marks.top {
  margin-bottom: 2px;
}
.tvmode .positionscale marks.bottom {
  margin-top: 2px;
}
.tvmode .positionscale trough highlight {
  border-radius: 3px;
  min-height: 20px;
}
.tvmode .positionscale.fine-tune trough highlight {
  border-radius: 3px;
  min-height: 20px;
}

/* Volume Scale */
.volumescale {
  margin: -2px;
  margin-left: -8px;
  margin-right: -6px;
  min-height: 180px;
}
.tvmode .volumescale {
  margin: 2px;
  margin-left: -6px;
  margin-right: -4px;
  min-height: 260px;
}
.volumescale marks label {
  margin-right: 4px;
  margin-top: -4px;
  margin-bottom: -6px;
}
.tvmode .volumescale trough highlight {
  min-width: 6px;
}
.overamp trough highlight {
  background: @error_color;
}

/* Elapsed Popover */
.elapsedpopoverbox {
  min-width: 260px;
}
.elapsedpopoverbox box separator {
  background: @insensitive_fg_color;
}
.tvmode .elapsedpopoverbox {
  min-width: 360px;
}
.tvmode .speedscale trough highlight {
  min-height: 6px;
}

.narrowbutton {
  min-width: 8px;
}
@keyframes halfrotation {
  to { transform: rotate(0.5turn); }
}
.halfrotate {
  animation-name: halfrotation;
  animation-duration: 200ms;
  animation-delay: 280ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* Chapters */
.chapterlabel {
  min-width: 32px;
}
.tvmode .chapterlabel {
  min-width: 40px;
  text-shadow: none;
  font-size: 22px;
  font-weight: 600;
}

/* Preferences */
.prefsnotebook grid {
  margin: 10px;
}
.prefssubpage header {
  background: none;
}
.prefssubpage header tabs tab {
  box-shadow: none;
  margin: 0px;
  margin-right: 1px;
}
.prefssubpage header tabs tab:checked {
  color: initial;
  background: @theme_selected_bg_color;
}

/* Open URI Dialog */
.uridialogbox {
  margin: 12px;
}

/* Tweaks */
.nobackground {
  background: none;
}
.noborder {
  border: none;
}
.controlsbox {
  background: @theme_bg_color;
}
.gpufriendly {
  box-shadow: -8px -8px transparent, 8px 8px transparent;
}
.gpufriendlyfs {
  box-shadow: none;
}
.brightscale trough highlight {
  filter: brightness(120%);
}

/* Error BG */
.blackbackground {
  background: black;
}
