pkgbase = clapper-git
	pkgdesc = A GNOME media player built using GJS with GTK4 toolkit and powered by GStreamer with OpenGL rendering.
	pkgver = r393.bf04af2
	pkgrel = 1
	url = https://github.com/Rafostar/clapper
	arch = any
	license = GPL-3.0
	makedepends = meson>=0.50
	makedepends = git
	depends = gtk4
	depends = gjs
	depends = glib2>=2.56.0
	depends = gobject-introspection
	depends = wayland-protocols
	depends = hicolor-icon-theme
	depends = gstreamer>=1.18.0
	depends = gst-plugins-base-libs>=1.18.0
	depends = gst-plugins-good>=1.18.0
	depends = gst-plugins-bad-libs>=1.18.0
	optdepends = gst-libav>=1.18.0: Popular video decoders
	optdepends = gstreamer-vaapi>=1.18.0: Intel/AMD video acceleration
	provides = clapper
	conflicts = clapper
	replaces = clapper
	source = clapper::git+https://github.com/Rafostar/clapper.git
	md5sums = SKIP

pkgname = clapper-git

