Source: clapper
Section: gnome
Priority: optional
Maintainer: Rafostar <rafostar.github@gmail.com>
Standards-Version: 4.4.0
Build-Depends: debhelper (>= 10),
               meson (>= 0.50),
               gjs,
               gobject-introspection,
               libgtk-4-dev (>= 4.0.0),
               libgstreamer1.0-dev (>= 1.18),
               libgstreamer-plugins-base1.0-dev (>= 1.18),
               libgstreamer-gl1.0-0 (>= 1.18),
               libgles-dev,
               libglib2.0-dev,
               libglib2.0-bin,
               desktop-file-utils,
               hicolor-icon-theme

Package: clapper
Architecture: any
Depends: gjs,
         gir1.2-gtk-4.0 (>= 4.0.0),
         hicolor-icon-theme,
         libgstreamer1.0-0 (>= 1.18),
         gstreamer1.0-plugins-base (>= 1.18),
         gstreamer1.0-plugins-good (>= 1.18),
         gstreamer1.0-plugins-bad (>= 1.18),
         gstreamer1.0-gl (>= 1.18)
Recommends: gstreamer1.0-libav,
            gstreamer1.0-pulseaudio
Suggests: gstreamer1.0-plugins-ugly,
          gstreamer1.0-vaapi
Description: Simple and modern GNOME media player
 A GNOME media player built using GJS with GTK4 toolkit and powered by GStreamer with OpenGL rendering.
  .
 More codecs/features and video acceleration can be enabled by installing the suggested packages.
