on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
name: "Flatpak"
jobs:
  flatpak:
    name: "Flatpak"
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        include:
        - os: ubuntu-24.04
          arch: x86_64
        - os: ubuntu-24.04-arm
          arch: aarch64
      fail-fast: false
    runs-on: ${{ matrix.os }}
    container:
      image: registry.fedoraproject.org/fedora
      options: --privileged
    steps:
    - name: Prepare
      run: |
        dnf install -y jq git git-lfs dbus-daemon flatpak flatpak-builder libappstream-glib ccache zstd xorg-x11-server-Xvfb
        flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak --system install -y --noninteractive flathub org.flatpak.Builder
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Remove gstreamer ffmpeg-full patch
      run: |
        rm -f pkgs/flatpak/flathub/gstreamer-1.0/gst-libav-stop-caching-codecs.patch
        jq 'del(.sources[] | select(.path == "gst-libav-stop-caching-codecs.patch"))' pkgs/flatpak/flathub/gstreamer-1.0/gstreamer.json > pkgs/flatpak/flathub/gstreamer-1.0/gstreamer.json.tmp
        mv pkgs/flatpak/flathub/gstreamer-1.0/gstreamer.json.tmp pkgs/flatpak/flathub/gstreamer-1.0/gstreamer.json
    - name: Build
      uses: flatpak/flatpak-github-actions/flatpak-builder@master
      with:
        bundle: com.github.rafostar.Clapper.flatpak
        manifest-path: pkgs/flatpak/com.github.rafostar.Clapper.json
        cache-key: flatpak-builder-${{ github.sha }}
        arch: ${{ matrix.arch }}
        upload-artifact: false
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: clapper-flatpak-${{ matrix.arch }}
        path: com.github.rafostar.Clapper.flatpak
        if-no-files-found: error
